.logo-width {
    width: 20em;
}

.logo-width-footer {
    width: 10em;
}

.background-color-menu {
    background-color: #022024;
}

.card-file{
    width: 28rem;
    margin-top: 0.6em;
    margin-left: 1em;
}