
{% extends "base.html" %}
{% block title %}File Upload{% endblock %}
{% block content %}

<div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
        <div class="card card-file">
            <div class="card-body">
                <h5 class="card-title">Upload a document</h5>
                <p class="card-text">Please choose a document to analize.</p>
                <form id="uploadForm" method="POST" action="/upload" enctype="multipart/form-data">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile"></label>
                    </div>
                    <div>
                          <select class="custom-select mt-2" id="modelSelect">
                            <option selected value="gemini-2.5-flash-lite">Gemini 2.5</option>
                            <option value="gemini-2.0-flash-lite">Gemini 2.0</option>
                          </select>
                    </div>
                    <div class="text-center">
                        <input id="uploadFile" type="submit" class="btn btn-primary mt-2" value="Upload">
                    </div>
                </form>
            </div>
        </div>

        <div class="card card-file">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                    <h5 class="card-title mb-0 mr-2">Documents:</h5> 
                    <div class="spinner-border spinner-border-sm text-success d-none" id="spinner" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="documents">

                </div>
            </div>
        </div>
    </div>

    <div class="p-2 bd-highlight flex-grow-1 d-flex flex-column align-items-center" id="results">
        <!-- show tables results -->
    </div>
    
    <!-- table results -->
    <div id="tableResults" class="w-100 d-none tables">
            {% include 'results.html' %}

    </div> 
{% endblock %}
