name: Move card to In Review
on:
  pull_request:
    types: [opened, reopened]

jobs:
  move-to-review:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.PROJECTS_APP_ID }}
          private_key: ${{ secrets.PROJECTS_APP_PEM }}

      - name: Debug Project List
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          echo "Buscando Proyectos de ArgenioBonsanto..."
          gh project list --owner "ArgenioBonsanto" --format json --jq '.projects[] | "Nombre: \(.title) | ID: \(.id)"'