name: Move card to In Review
on:
  pull_request:
    types: [opened, reopened]

jobs:
  move-to-review:
    runs-on: ubuntu-latest
    if: ${{ github.head_ref != 'main' && github.head_ref != 'develop' }}
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.PROJECTS_APP_ID }}
          private_key: ${{ secrets.PROJECTS_APP_PEM }}

      - name: Get Issue Id from Branch
        id: get-issue-id
        uses: actions/github-script@v7
        env:
          BRANCH: ${{ github.head_ref }}
        with:
          script: |
            // Esto toma el "19" de una rama tipo "19-add-tests"
            const issueId = process.env.BRANCH.split('-')[0]
            core.setOutput('issueId', issueId)

      - name: Get project card ID
        id: getCardId
        env:
          ORG_NAME: "ArgenioBonsanto"
          REPO_NAME: "flask_python_test"
          ISSUE_ID: ${{ steps.get-issue-id.outputs.issueId }}
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          gh api graphql -f query='
            query ($owner: String!, $repo: String!, $issue: Int!) {
              repository(owner: $owner, name: $repo) {
                issue(number: $issue) {
                  projectItems(first: 1) {
                    nodes { id }
                  }
                }
              }
            }' -f owner=$ORG_NAME -f repo=$REPO_NAME -F issue=$ISSUE_ID > issue_info.json
          
          # Extraemos el ID sin comillas
          echo "cardTicketId=$(jq -r '.data.repository.issue.projectItems.nodes[0].id' issue_info.json)" >> $GITHUB_OUTPUT

      - name: Move to In Review
        # Solo se ejecuta si encontramos una tarjeta vinculada
        if: steps.getCardId.outputs.cardTicketId != 'null'
        env:
          PROJECT_ID: ${{ secrets.PROJECTS_MARY_PROJECT_ID }}
          FIELD_ID: ${{ secrets.PROJECT_STATUS_FIELD_ID }}
          OPTION_ID: ${{ secrets.PROJECT_IN_REVIEW_OPTION_ID }}
          ITEM_ID: ${{ steps.getCardId.outputs.cardTicketId }}
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          gh api graphql -f query='
          mutation ($project: ID!, $fieldId: ID!, $optionId: String!, $itemId: ID!) {
            updateProjectV2ItemFieldValue(input: {
              projectId: $project, fieldId: $fieldId, itemId: $itemId, value: { singleSelectOptionId: $optionId }
            }) { projectV2Item { databaseId } }
          }' -F project=$PROJECT_ID -F fieldId=$FIELD_ID -F optionId=$OPTION_ID -f itemId=$ITEM_ID